doctype html
html(lang='ru')
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="x-ua-compatible" content="ie=edge") 
  meta(name="description" content="Индивидуальная и семейная терапия, специализирующаяся на тревоге, стрессе и травмах. Современные методы, включая IFS, EMDR и др. Очно и онлайн")
  meta(name="robots" content="index, nofollow")
  
  title Светлана Райлян - системный семейный психолог
 body
  include includes/header.pug
  include includes/main.pug
  include includes/footer.pug
  include includes/components/loader.pug

  