.about {
  background: $background-color;
  height: 600px;
  display: flex;
  justify-content: center;
}

.about__subtitle {
  line-height: 2.5rem;
  font-size: 1.4rem;
  padding-bottom: 2rem;
  text-align: justify;
}

.about-me {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'textarea textarea photo';
}

.about-me__textblock {
  grid-area: textarea;
  background: $white;
  padding: 5rem;
  height: calc(500px - (5rem * 2));
}
.about-me__photo {
  grid-area: photo;
  display: flex;
  justify-content: flex-end;

  & img {
    height: 500px;
  }
}

.about__title {
  background: $white;
  margin: 2rem 0rem;
  padding: 2rem;
}
