$section-height: 600px;
$icon-dimension: 30px;

//

.slider {
  display: flex;
  justify-content: center;

  height: $section-height;
  @include cover-background(url('../assets/images/office.jpg'), fixed);

  transition: all 0.5s ease;
}

.slider__overlay {
  background: rgba($white, 0.8);
  height: $section-height;
}

.slider__information {
  width: 60%;
  height: 100%;
  @include flex-center();
}

.slider__address {
  margin-top: 2rem;
  & span {
    @include flex-center(row, initial);

    &:before {
      content: '';
      display: block;
      @include box($icon-dimension);
      @include cover-background(url('../assets/social/place.svg'));
    }
  }
}
