.slider {
  display: flex;
  justify-content: center;

  height: 600px;
  @include cover-background(url('../assets/images/office.jpg'), fixed);

  transition: all 0.5s ease;
}

.slider__information {
  width: 60%;
  height: 100%;
  @include flex-center();
}

.slider__address {
  margin-top: 2rem;
  & span {
    @include flex-center(row, initial);

    &:before {
      content: '';
      display: block;
      height: 30px;
      width: 30px;
      @include cover-background(url('../assets/social/place.svg'));
    }
  }
}
