input,
textarea {
  color: #ffffff;
}
input:focus,
textarea:focus {
  outline: solid 1px #832d28;
  background-color: #d6564f;
}
input:invalid:focus,
textarea:invalid:focus {
  background-color: rgba(153, 0, 0, 0.5);
}
