.menu {
  display: table;
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;

  @media(max-width: 700px){
    position: fixed;
    left: 1rem;
    top: 10vh;
    z-index: 201;
    transform: translateX(-30%);
  }

  &.menu-opened {
    transform: translate(0%);
    transition: all 0.6s ease-in-out;
  }
}

.menu__item {
  display: table-cell;
  position: relative;
  padding: 1rem;

  @media(max-width: 700px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & a {
    font-size: 1.4rem;
    font-weight: 500;

    &:hover {
      color: $base-theme-color;
      transition: 0.3s;

      &::after {
        width: 50%;
        left: 23%;

        @media(max-width: 700px) {
          width: 10%;
          left: 1rem;
          z-index: 201;
        }
      }
    }

    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left:0;
      position: absolute;
      background: $link-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width:0;
    }
  }
}
