.menu {
  display: table;
  list-style: none;
  text-align: center;
  padding: 0;
  width: 100%;
}

.menu__item {
  display: table-cell;
  position: relative;
  padding: 1rem;

  & a {
    font-size: 1.4rem;
    font-weight: 500;

    &:hover {
      color: $base-theme-color;
      transition: 0.3s;

      &::after {
        width: 50%;
        left: 23%;
      }
    }

    &::after {
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: '';
      display: block;
      height: 1px;
      left: 50%;
      position: absolute;
      background: $link-color;
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }
  }
}
