.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 13rem;

  & a {
    @include flex-center();
    padding: 0.15rem;
    border-radius: 50%;
    border: 1px solid $base-theme-color;
    transition: all ease 0.3s;

    &:hover {
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
}

$icon-size: 2.5rem;

.social__icon {
  display: inline-block;
  width: $icon-size;
  height: $icon-size;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all ease 0.3s;

  &:hover {
    transform: scale(1.2);
    filter: brightness(150%);
  }
}

.instagram {
  background-image: url(../assets/social/instagram-red.svg);
}

.whatsapp {
  background-image: url(../assets/social/whatsapp-red.svg);
}

.skype {
  background-image: url(../assets/social/skype-red.svg);
}

.time {
  background-image: url(../assets/icons/time.svg);
}

.price {
  background-image: url(../assets/icons/price.svg);
}
