section.about#about
  div.wrapper.about__grid
    div.about__textblock
      h2.section__header Обо Мне
      h4 Привет, я Светлана,
      p 
        | Я квалифицированный и опытный консультант и психолог, аккредитованный
        |  <a href="http://inpsycho.ru">МИП</a>. Окончила обучение по IFS
        |  (внутренним семейным системам), новому и мощному способу изменить
        |  вашу жизнь, и EMDR, основанной на доказательствах терапии
        |  посттравматического стрессового расстройства и травм. Так же
        |  владею техникой EFIT (эмоционально-фокусированная индивидуальная
        |  терапия) и в данное время прохожу обучение клинической психологии.
      p 
        | Вместе мы проработаем ваши проблемы, помогая вам изменить свою
        | жизнь и отношения, почувствовать себя счастливее и жить в мире с
        | собой.
      button читать подробнее
    div.about__photo
      img(src='../assets/images/svetlana-photograph.png' alt="Svetlana Raylyan")