section.services.anim
  div.wrapper
    h2.section__header Виды консультирования
    div.cards
      div.service__individual.anim-item
        div.service__textarea
          h2 Индивидуальное
          div.divider
          h4 Практикую в классических системных подходах, ОРКТ, IFS, ЭФТ
          p 
           |Индивидуальная психотерапия в целом направлена на помощь в движении человека к внутренней гармонии. 
           |Она дает возможность получить место и пространство для себя, где важными оказываются потребности и чувства. 
           |Терапевт, способствуя рефлексии и самоанализу клиента, обеспечивает бережное и эмпатичное отношение.
          div.services__panel
            div.panel__item
              span.social__icon.price
              div.label
                h4 Стоимость:
                p 2,500 &#8381;
            div.panel__item
              span.social__icon.time
              div.label
                h4 Время:
                p 60 минут
          button Записаться на прием
        div.service__image
      div.service__couple.anim-item
        div.service__textarea
          h2 Семейное
          div.divider
          h4 Практикую в классических системных подходах, ОРКТ, IFS, ЭФТ
          ul
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet
            li Lorem ipsum dolor sit amet
          div.services__panel
            div.panel__item
              span.social__icon.price
              div.label
                h4 Стоимость:
                p 3,000 &#8381;
            div.panel__item
              span.social__icon.time
              div.label
                h4 Время:
                p 90 минут
          button Записаться на прием
        div.service__image
  div.overlay.overlay__services

        