section.slider#initial
  div.wrapper
    div.slider__information
      h4 
        | Сертифицированный 
        span.bold IFS, 
        span.bold ACT 
        | и 
        span.bold CEFR 
        | терапевт
      h1
        | Светлана 
        span.highlight Райлян
      div.divider
      blockquote
        | Величайшее открытие нашего поколения заключается в том, что
        | независимо от того, с чего вы начинаете, изменения возможны.
      div.slider__button.anim
        button.anim-item Записаться на консультацию
      div.slider__address
        a(
          href="https://yandex.by/maps/213/moscow/house/tverskaya_ulitsa_29k1/Z04Ycw5mSkMEQFtvfXt3eX5rYA==/?ll=37.596363%2C55.768284&utm_source=main_stripe_big&z=16.81"
          rel="noopener noreferrer"
          target="_blank"
        )
          span м. Маяковская, Москва, Тверская 29к1, оф.50
  div.overlay.slider__overlay