header {
  height: 100px;
  width: 100%;
  background-color: $white;
  position: sticky;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 3px 0px $box-shadow;

  transition: height 0.5s ease;

  &.shorten {
    height: 70px;
  }
}

nav {
  display: flex;
  justify-content: center;

  @media(max-width: 700px){
    /*display:none;*/
  }
}

.brand {
  display: flex;
  align-items: center;

  & img {
    height: 30px;
    margin-right: 0.5rem;
  }
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100%;
  background: $white;
  box-shadow: 0px 0px 1rem #00000060;
  transform: translateX(-120%);
  transition: all 0.5s ease-in;
  z-index: 200;

  &.lightbox-opened {
    transform: translateX(0%);
  }

  @media(max-width:700px) {
    display: block;
  }
}
